@model IEnumerable<HouseRentingSystem.Models.ContractsModel>

@{
    ViewData["Title"] = "View";
}
<div class="container">

    <h1>Contracts</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HouseownerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenantName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Startdate)
                </th>
                <th>
                    Rented House
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Monthlyrent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseownerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Startdate)
                    </td>
                    <td>
                        <a asp-controller="Advertisement" asp-action="GetAdvertisement" asp-route-AdId="@item.Adid">Rented House</a>
                       @* <div  >@Html.DisplayFor(modelItem => item.Adid)</div>*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monthlyrent)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
