@model IEnumerable<HouseRentingSystem.Models.CreditCardModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Credit Cards</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardtype)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CardHolderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cardnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cardtype)
                </td>
                <td>

                    <a asp-controller="Contract" asp-action="Rent" asp-route-cid="@item.Cid" asp-route-adid="@ViewBag.adid">Rent with this card</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
