@model HouseRentingSystem.Models.AdvertisementModel

@{
    ViewData["Title"] = "View";
}

<h1>Post a New Advertisement</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="postad" asp-controller="Advertisement">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <input asp-for="Userid" class="form-control" />
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ondisplay" /> @Html.DisplayNameFor(model => model.Ondisplay)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Streetname" class="control-label"></label>
                <input asp-for="Streetname" class="form-control" />
                <span asp-validation-for="Streetname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Streetnum" class="control-label"></label>
                <input asp-for="Streetnum" class="form-control" />
                <span asp-validation-for="Streetnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bedroomsnum" class="control-label"></label>
                <input asp-for="Bedroomsnum" class="form-control" />
                <span asp-validation-for="Bedroomsnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bathroomsnum" class="control-label"></label>
                <input asp-for="Bathroomsnum" class="form-control" />
                <span asp-validation-for="Bathroomsnum" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hydro" /> @Html.DisplayNameFor(model => model.Hydro)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Heat" /> @Html.DisplayNameFor(model => model.Heat)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Water" /> @Html.DisplayNameFor(model => model.Water)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Internet" /> @Html.DisplayNameFor(model => model.Internet)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Parkingnum" class="control-label"></label>
                <input asp-for="Parkingnum" class="form-control" />
                <span asp-validation-for="Parkingnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agreementtype" class="control-label"></label>
                <input asp-for="Agreementtype" class="form-control" />
                <span asp-validation-for="Agreementtype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moveindate" class="control-label"></label>
                <input asp-for="Moveindate" class="form-control" />
                <span asp-validation-for="Moveindate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Petfriendly" /> @Html.DisplayNameFor(model => model.Petfriendly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Furnished" /> @Html.DisplayNameFor(model => model.Furnished)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Laundry" /> @Html.DisplayNameFor(model => model.Laundry)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Dishwasher" /> @Html.DisplayNameFor(model => model.Dishwasher)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fridge" /> @Html.DisplayNameFor(model => model.Fridge)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Airconditioning" /> @Html.DisplayNameFor(model => model.Airconditioning)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Smokingpermit" /> @Html.DisplayNameFor(model => model.Smokingpermit)
                </label>
            </div>
@*            <div class="form-group">
                <label asp-for="Postdate" class="control-label"></label>
                <input asp-for="Postdate" class="form-control" />
                <span asp-validation-for="Postdate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
