@model HouseRentingSystem.Models.Contracts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contracts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Houseownerid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Houseownerid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenantid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenantid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Startdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monthlyrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monthlyrent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Contractid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
