@model IEnumerable<HouseRentingSystem.Models.Contracts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Houseownerid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenantid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monthlyrent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Houseownerid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenantid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monthlyrent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Contractid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Contractid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Contractid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
