@model IEnumerable<HouseRentingSystem.Models.CreditCardModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Credit Cards</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expireyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiremonth)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CardHolderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cardnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cardtype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expireyear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expiremonth)
                </td>
                <td>

                    <a asp-action="Delete" asp-route-id="@item.Cid">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
